:root {
    /* Layout breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    /* Primary Colors */
    --color-gradient-start: hsl(249, 99%, 64%);
    --color-gradient-end: hsl(278, 94%, 30%);
    --color-error: hsl(0, 100%, 66%);

    /* Neutral Colors */
    --color-white: hsl(0, 100%, 100%);
    --color-gray-200: hsl(270, 3%, 87%);
    --color-gray-400: hsl(212, 12%, 71%);
    --color-purple-950: hsl(278, 68%, 11%);

    /* Typography */
    --font-family-base: 'Space Grotesk', sans-serif;
    --font-size-base: 18px;
    --font-weight-base: 500;

    /* Gradient (active input border) */
    --input-border-gradient: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
}

*,
html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    margin: 12rem auto;
}

main {

    display: flex;
    justify-content: center;
    gap: 10rem;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* key change! */
    gap: 1rem;
    padding: 1rem;
    color: var(--color-white);
    width: 100%;
    min-width: 320px;
    border-radius: 0.5rem;
    background-image: url("/images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    color: var(--color-white);
    /* assuming same text color */
    min-width: 320px;
    height: auto;
    border-radius: 0.5rem;
    background-image: url("/images/bg-card-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(50px);
}

.card-back span {
    margin-right: 1.25rem;
}

.card-front,
.card-back {
    aspect-ratio: 4 / 2;
}

.card-digits {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.325rem;
}

.card-front-bottom {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}

.card-front img {
    width: 20%;
    margin-bottom: 1rem;
}

.card-back img {
    width: 320px;

}



.form-fields-container {
    max-width: 300px;
    width: 100%;
    margin-inline: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-purple-950);
}

.form-group input {
    width: 100%;
    padding: 0.475rem;
    color: var(--color-gray-200);
    border: 1px solid var(--color-gray-200);
}

.form-row {
    display: flex;
    gap: 1rem;
}

.exp-inputs {
    display: flex;
    gap: 0.5rem;
}

.exp-inputs input {
    width: 100%;
}

.form-row>.form-group {
    flex: 1;
}

.submit {
    all: unset;
    text-align: center;
    color: var(--color-white);
    background: var(--color-purple-950);
    padding: 0.225rem;
    border-radius: 0.345rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--color-purple-950)
}